<h2>Signup</h2>

<form action="/signup" method="POST">
  <label for="usr-name">Username:</label>
  <input type="text" id="usr-name" name="username" placeholder="Create a username">

  <label for="mail">Email:</label>
  <input type="email" id="mail" name="email" placeholder="Your email">

  <label for="pwd">Password:</label>
  <input type="password" id="pwd" name="password" placeholder="******">

  <button type="submit">Create your account</button>
  {{#if errorMessage}}
      <div>
          <p>{{errorMessage}}</p>
      </div>   
    {{/if}}
</form>