<form class="auth-form" action="/signup" method="POST">
  <h2>Signup</h2>
  <div class="input-container">
    <label for="usr-name">Username:</label>
    <input type="text" id="usr-name" name="username" placeholder="Create a username">
  </div>

  <div class="input-container">
    <label for="mail">Email:</label>
    <input type="email" id="mail" name="email" placeholder="Your email">
  </div>

  <div class="input-container">
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="password" placeholder="******">
  </div>
  
  <div class="actions">
    <button type="submit">Create your account</button>
    <div class="spacer"></div>
    <a href="/login" >Login instead</a>
  </div>
  
  {{#if errorMessage}}
      <div>
          <p>{{errorMessage}}</p>
      </div>   
    {{/if}}
</form>