
<div class="card" onclick="location='/recipes/details/{{_id}}'">
  <div class="card-img" style="background-image: url({{image}})"></div>
  <div class="card-info">
    <h3>
      {{name}}
    </h3>
  </div>
</div>