
<div class="card" onclick="location='/{{parameter1}}/details/{{parameter2}}'">
  <div class="card-img" style="background-image: url({{parameter3}})"></div>
  <div class="card-info">
    <h3>
      {{parameter4}}
    </h3>
  </div>
</div>