<h1 class="header">{{title}}</h1>
<p>Welcome to {{title}}</p>

<form class="search-form" action="/search">
  <input class="search-input" type="text" placeholder="Ex: 'Kiwi' or 'Pasta Carbonara'" name="name">
  <button class="search-submit__button" type="submit">Search</button>
</form>
