<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/search">
  <input type="text" placeholder="Ex: 'Kiwi' or 'Pasta Carbonara'" name="name">
  <button type="submit">Search</button>
</form>
