<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
<header>
    <nav class="navbar">

      <ul class="nav-all-items">
        <li class="nav-item"><a href="/">NutriApp</a></li>
        <li><a href="/products">Products</a></li>
        <li id="recipes"><a href="/recipes">Recipes</a></li>
        <div class="flex-spacer"></div>
        {{#unless user}}
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>        
        {{/unless}}
        {{#if user}}
          <li><a href="/profile">Profile</a></li>
          <li>     
          <form action="/logout" style="display: inline" method="POST" class="form-logout">
            <button type="submit" class="logout"></button>
          </form>
          </li>        
        {{/if}}
      </ul>

    </nav>
</header>
<main>

   {{{body}}}

</main>
{{!-- EMPTY FOOTER --}}
<footer>
  <ul class="nav-all-items">
    <li class="nav-item"><a href="/"></a></li>
    <li><a href="/products"></a></li>
    <li id="recipes"><a href="/recipes"></a></li>
  </ul>
</footer>

<script src="/javascripts/script.js"></script>
</body>
</html>