/* Colors for this app
  NAVBAR COLORS
  blue navbar - #4a69bd
  a text color - whitesmoke
  a text hover - #f5cd79
  
  
  CARD COLORS
  border: #3dc1d3

  button-delete: #c44569

  Find a font-familyasdasd
*/


// $navbar-color: #4a69bd; // #original blue
// $navbar-color: #e77f67; // #brewed mustard
$navbar-color: #f19066; // #sawtooth aak 
$click-btn: #60a3bc;
$error: #b71540;
$blue-header: #0c2461;
$edit-btn: #786fa6;
$delete-btn: #c44569;
$bg-dropdown: rgb(249, 246, 246);
$bg-trans: rgba(249, 246, 246, 0.7);
$a-hover: #f5cd79;

@keyframes menu-transition {
  from {opacity: 0;}
  to {opacity: 1;}
}


*, *:before, *:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;

}

body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  padding-top: 50px;

  h3, h2, a {
    font-weight: 400;
  }
  
  .header {
    font-size: 2em;
    color: $blue-header;
    padding: 0px 0px 6px 30px;
    margin: 15px 0px 15px 20px ;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    width: 90%;
    position: relative;
    font-weight: 300;
    
  }

  footer{
    background-color: white;
    width: 100%;
    border-radius: 0;
    position: fixed;
    bottom: 0px;
    // display: none;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // height: 50px;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: center;
      height: 100%;
  
      a {
        color: whitesmoke
      }
    }
  }

  .logo {
  background-color: $error;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  }
}

.flex-spacer {
  flex: 1;
}

.navbar{
  background-color: $navbar-color;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  z-index: 1;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;

  .logo-image {
    height: 40px;
    margin: 0 30px 0 10px;
    object-fit:cover;
  }

  a {
    color: #fff;
    font-size: 20px;
  }

  form {
    padding: 0;
    margin: 0;
    max-width: 180px;
    width: 100%;
    outline: 0;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    

    .dropdown__button {
      background: url('/images/icon-menu.svg');
      background-size: cover;
      width: 32px;
      height: 32px;
      border: none;
      outline: none;
    }

    .dropdown__content{
      display: none;
      top: 50px;
      right: 0px;
      position: absolute;
      height: fit-content;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      background-color: $bg-dropdown;
      animation-name: menu-transition;
      animation-duration: 0.3s;
      
      ul {
        list-style: none;
        align-items: center;
        outline: none;
        padding: 0 10px;

        li {

          padding: 10px 15px;

          a {
            font-size: 14px;
            color: #535353;
            font-weight: bolder;
            padding: 10px 15px;

            &:active{
              border: 1px solid $click-btn;
            }
          }

          button, input[type="submit"] {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            font-size: 14px;
            color: #535353;
            font-weight: bolder;
            padding-left: 15px;
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
  outline: none;
}

.wrapper {
  background-color:rgba(255,255,255,0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .details-container {
    .details-info {
      display: flex;
      flex-direction: column;
      width: 100%;

      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
      }

      img {
        width: 100vw;
        height: 250px;
        object-fit: cover;
      }

      button {
        background-repeat:no-repeat;
        width: 24px;
        height: 24px;
        outline: none;
        border: none;
      }
    }
    .nutrition {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-bottom: 5px;
        border-bottom: 2px solid #cdcdcd;

        label {
          font-weight: bolder;
          font-size: larger;
          color: #535353;
          margin: 5px;
        }
        span {
          color: #535353;
          font-weight: normal;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        border-bottom: 2px solid #cdcdcd;
        width: 90%;
        padding: 10px 0px;

        li {
          margin: 5px 10px;
          padding-left: 5px;
          border-left: 2px solid #cdcdcd;
         
          
          label {
            color: #535353;
            font-weight: normal;
          }
          span {
            font-weight: bolder;
            font-size: smaller;
          }
        }
      }
    }
    .details-ingredients {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      label {
        color: #535353;
        font-weight: bolder;
      }
      
      ul {
        display: flex;
        flex-direction: column;
        list-style: square;
        border-bottom: 2px solid #cdcdcd;
        width: 90%;
        padding: 10px 0px;
        justify-content: center;

        li {
          margin: 5px 10px;
          padding-left: 5px;
          color: #535353;

          a {
            text-decoration: none;
            color: #535353;
        
          }

          label {
            color: #535353;
            font-weight: bolder;
          }
        }
    }
    div {
      display: flex;
      width: 90%;
      justify-content: flex-start;
      margin: 10px 0;
      align-items: left;

      label {
        color: #535353;
        font-weight: bolder;

        span {
          font-weight: lighter;
        }
      }
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 50px 10px 0;

  img {
    margin: 15px 0;
    align-self: center;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0,0,0,0.15);
  }

  label {
    font-size: 18px;
    color: #535353;

    span {
      font-size: 18px;
      font-weight: bolder;
    }
  }

  ul {
    list-style: none;
    align-items: center;
    outline: none;
    padding: 0 10px;

    li {
      border: 1px solid #cdcdcd;
      margin: 5px 0px;
      padding: 10px 15px;

      &:active{
        border: 1px solid $click-btn;
      }

      a {
        font-size: 14px;
        color: #535353;
        font-weight: bolder;
      }

      button, input[type="submit"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-size: 14px;
        color: #535353;
        font-weight: bolder;
      }
    }
  }
}

.text-row {
    display: flex;
    justify-content: center;
    color: #535353;
    font-weight: bolder;
    font-size: larger;
    margin-top: 40px;

    label {
      width: 50%;
      text-align: center;
      
      &:active {
        border: 1px solid $click-btn;
        border-radius: 10px;
      }
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 5px 10px 5px;

    div {
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      box-shadow: none;
      outline: none;

      &:hover {
        cursor: pointer;
        filter: brightness(70%);

        p {
          display: block;
        }
      }
      &:active {
        border-radius: 30%;
        outline: none;
      }
  }
}
  .wrapper-small {
    background-color:rgba(255,255,255,0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    height: fit-content;
    width: 100%;

    .card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border: 1px solid #d3d3d3;
      background-color: #fff;
      margin: 10px 5px;
      max-width: 150px;
      animation: fade-in 0.65s ease-in-out forwards;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
      overflow: hidden;

      .card-img {
        width: 100%;
        height: 70px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .card-info {
        h3 {
          text-align: center; 
          font-size: 16px;
          color: #323232;
        }
      }
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    margin: 5px;
    max-width: 75vw;
    width: 100%;
    animation: fade-in 0.65s ease-in-out forwards;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;

    .card-img {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .card-info {
      h3 {
        text-align: center;  
        font-size: 16px;
        color: #323232;
      }
    }
  }
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #079992;
  padding: 10px 15px;
  font-size: 12px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-in-form {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #079992;
  padding: 10px 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: fit-content;
  font-size: 14px;
}

.button:hover {
  background: #434343;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  }

.delete {
  background-color: #c44569;
}

.edit {
  background-color: #574b90;
}

.create {
  background-color: #3c6382;
}

button:disabled {
  background-color: #cdcdcd;
  opacity: 0.5;
}

#no-favorite {
  color: #4a69bd;
}

// STARS RATING START
.details-rate-this-recipe{
  display: flex;
  flex-direction: column;
}
.stars-container{
  border: none;
  margin: 10px;
}
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #f8ce0b;
}

.star-rating {
  font-family: 'Font Awesome 5 Free';

  > form {
    border: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    
    &:not(:checked) {
      > input {
        position: absolute;
        // top: -9999px;
        clip: rect(0,0,0,0);
      }

      > label {
        width: 100%;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        color:#f8ce0b;
        
        &:before {
          content: '\f005';
          color: #ccc;
        }
        
        &:hover,
        &:hover ~ label {
          color: #f8ce0b;
          text-shadow: 0 0 3px #f8ce0b;
          &:before {
            content: '\f005';
            color: #f8ce0b;
          }
        }
      }
    }
    
    > input:checked {
      & ~ label {
        &:before {
          content: '\f005  ';
          color: #f8ce0b;
        }
      }    
    }    

    > label:active {
      position: relative;

    }
  }
}

// STARS RATING END

#search-item {
  margin-bottom: 10px;
}

.search-submit__button {
  margin-left: 15px;
}

.xs-only {
  display: flex;
}

.profile-logo-small {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#evaluation-message {
  margin: 10px 5px 10px;
}

.card.homepage-picture {
  background-color: rgba(255,255,255,0);
}

#index-search {
  max-width: fit-content;

  input {
    width: 250px; 
  }

  .search-submit__button {
    margin-left: 60px;
  }
}

.auth-form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    margin-bottom: 20px;
  }

  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
    label {
      font-size: 14px;
      color: #585858;
      margin-bottom: 10px;
    }

    input {
      padding: 10px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none;

      &:focus {
        border: 1px solid $navbar-color;
      }
    }    
  }

  .actions {
    display: flex;
    width: 100%;

    button {
      border: none;
      background-color: $navbar-color;
      color: #fff;
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 4px;
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }

    a {
      font-size: 14px;
      padding: 10px 0px 10px 20px;
      border-radius: 4px;
      background: transparent;
      color: #000;
      text-decoration: none;
    }

    .spacer {
      flex: 1;
    }
  }
}

@keyframes slide-up {
  0%{
    transform: translateY(calc(100% + 10px));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  background-color:rgba(255,255,255,0);

  h3 {
    color: $blue-header; 
  }

  .create-recipe__button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: $delete-btn;
    color: #fff; 
    border-radius: 50%;
    right: 10px;
    bottom: 75px;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.35);
    animation: slide-up 0.65s ease-in-out forwards;
    opacity: 1;
    z-index: 1;
    outline: none;

    img {
      margin-top: 5px;
      margin-right: 2px;
      width: 30px;
    }
  }

  // input {
  // padding: 10px 10px 10px 16px;
  // background: #fff;
  // border: 1px solid #cdcdcd;
  // transition: border .35s ease-in-out 0s;
  // outline: none;
  // margin: 10px;

  // &:focus {
  //   border: 1px solid $navbar-color;
  //   }
  // }
  .recipe-control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px 0px;

    a {
      width: 50%;
      text-align: center;
      border: none;
      border-radius: 0;
      color: #fff;
      font-size: 14px;
    }
    .edit__button {
      background-color: $edit-btn;
      padding: 10px 20px
    }
    .delete__button {
      background-color: $delete-btn;
      padding: 10px 20px
    }
    
  }
}


.form-error {
  color: $error;
  font-size: smaller;
}

.create-form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    margin-bottom: 20px;
  }

  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    textarea {
      width: 100%;
      max-width: 350px;
      height: 120px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.35);
      font-size: 14px;
      color: #585858;
      padding: 10px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none;
    }
    
    label {
      font-size: 14px;
      color: #585858;
      margin-bottom: 10px;
    }

    input {
      padding: 10px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none;
      color: #585858;

      &:focus {
        border: 1px solid $navbar-color;
      }
    }
    select {
      padding: 10px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none;
      max-width: 150px;
      width: 100%;
      color: #585858;
    }    
  }

  button {
    border: none;
    &:hover {
      cursor: pointer;
    }
    &:active {
      border: 1px solid $click-btn;
    }
  }

  .add-product__button {
    background: url('/images/plus-icon.png');
    background-size: cover;
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50%;
    font-size: larger;
    background-color: #38ada9;
    margin-left: 75%;
    margin-bottom: 15px;
    outline: none;
  }

  .delete-product__button,.delete-step__button {
    background: url('/images/delete-icon.svg');
    background-size: cover;
    width: 24px;
    height: 24px;
    padding-right: 10px;
    outline: none;

    &:active {
      border: 1px solid $click-btn;
    }
  }    

  a {
    font-size: 14px;
    padding: 10px 0px 10px 20px;
    border-radius: 4px;
    background: transparent;
    color: #000;
    text-decoration: none;
  }

  .spacer {
    flex: 1;
  }
}

.time-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-items: center;

  label, span{
    font-size: 14px;
    color: #585858;
    margin-bottom: 3px;
    margin-right: 10px;
  }

  input {
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
    transition: border .35s ease-in-out 0s;
    outline: none;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;

    &:focus {
      border: 1px solid $navbar-color;
    }
  }

}

.input-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  
  label {
    font-size: 14px;
    color: #585858;
    margin-bottom: 10px;
  }

  input {
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
    transition: border .35s ease-in-out 0s;
    outline: none;

    &:focus {
      border: 1px solid $navbar-color;
    }
  }    
}

.list-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  color: #585858;

  div {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    font-weight: bolder;
    margin-top: 10px
  }

  ul {
    padding: 0;

    li {
      display: flex;
      width: 100%;
      justify-content: space-between;

      span {
        width: 40%;
        text-align: left;
        padding-left: 50px 
      }
    }
  }
}

.add-product-container {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  width: 100%;
    
  .input-container {
    max-width: 140px;
    width: 100%;
    padding: 0;
    margin: 0px 0px 15px 20px;
  }

  .quant-grams {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 10px;
    width: 100%;
    margin: 0px 0px 15px 20px;

    label {
      font-size: 14px;
      color: #585858;
      margin: 6px 10px 0px 10px;
    }

    input {
      padding: 10px 0px 10px 10px;
      margin-right: 5px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none;
      width: 75px;
      color: #585858;
    }
  }
}

.search-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 300px;
  width: 100%;
  margin-top: 100px;
  align-items: center;

  div {
    background: none;
    max-width: 90%;
    padding: 0;
    margin: 0 5px;
    align-items: center;
  }

  label {
    font-size: 14px;
    color: #585858;
    margin: 6px 10px 0px 10px;
  }

  button {
    background: url('/images/magnifying-glass-2.png');
    border: none;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 26px;
    height: 26px;
    outline: none;
    padding: 3px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      border: 1px solid $click-btn;
      border-radius: 25%;
      outline: none;
    }
  }
  input{
    width: 100%;
  }
}

/* RESPONSIVE SMALL SCREENS */
@media screen and (max-width: 699px) {
  .navbar {
    .search-form {
      input {
        padding: 5px;
        width: 100px;
      }

      .search-submit__button {
        margin-left: 25px;
      }
    }
    
    .logo-image {
      height: 30px;
      margin: 0 20px 0 10px;
      object-fit:cover;
    }
  }

  main {
    margin-bottom: 60px;
    background-color:rgba(255,255,255,0.9);

    .not-found {
      width: auto;
      max-width: 425px;
      margin: 200px auto 0;
      height: 130px;
      background-image: url('/images/404-error-transparent.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  #index-search {
    max-width: fit-content;
  
    input {
      width: 200px; 
    }
  
    .search-submit__button {
      margin-left: 40px;
    }
  }

  footer {
    height: 60px;
    border-top: 1px solid rgba(0,0,0,0.15);

    
    .footer-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;

      .footer-list-item {
        display: flex;
        flex-direction: column;

        a {
          color: black;
        }
      }
      
      .footer-logo-small {
        align-self: center;
        height: 20px;
        width: 20px;
        margin-bottom: 5px
      }
    }
  }
}

/* RESPONSIVE MEDIUM SCREENS */
@media screen and (min-width: 450px) and (max-width: 699px) {
  .navbar {
    .logo-image {
      height: 30px;
      margin: 0 20px 0 20px;
      object-fit:cover;
    }

    .search-form {
      input {
        padding: 5px;
        width: 180px;
      }

      .search-submit__button {
        margin-left: 50px;
      }
    }
  }
}

/* RESPONSIVE LARGE SCREENS */
@media screen and (min-width: 700px) {
  html {
    background-size: cover;
    background-repeat: repeat;
    background-image: url(https://images.unsplash.com/photo-1576398289164-c48dc021b4e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
  }

  main {
    max-width: 70%;
    max-height: 70%;
    margin: 100px auto;
    background-color:rgba(255,255,255,0.9);
    padding-bottom: 100px;
    padding-top: 50px; 
    box-shadow: rgba(0, 0, 0, 0.803) 0 0 100px;
    animation: fade-in 0.65s ease-in-out forwards;

    .not-found {
      width: auto;
      max-width: 530px;
      height: 180px;
      margin: 0 auto;
      background-image: url('/images/404-error-transparent.png');
      background-size: cover;
      background-repeat: no-repeat;
      // background-position: center;
    }
  }

  footer {
    display: none;
  }

  .navbar{
    a {
      flex-grow: 3;
    }
    .search-form {
      max-width: fit-content;
      width: 100%;

      input {
        padding: 5px;
        width: 250px;
      }

      .search-submit__button {
        margin-left: 60px;
      }
    }  
    .dropdown {
      display: inline-block;

      .dropdown__content{
        display: flex;
        background-color: $navbar-color;
        animation: none;
        box-shadow: none;
        position: relative;
        top: 0px;
        color: #fff;
        
        ul {
          display: flex;
          flex-direction: row;
          padding: 0;

          li {
            padding: 0px 10px;

            a {
              font-weight: normal;
              color: #fff;
              padding: 0px 10px;
              &:hover{
                color: $a-hover;
              }
            }
            
            button{
              color: #fff;

              &:hover{
                color: $error;
              }
            }
          }
        }
      }
    }
  }

  .wrapper {

    background-color:rgba(255,255,255,0);

    .create-recipe__button {
      right: 17%;
      bottom: 10%;
    }
    
    width: 80%;
    // background-color: #fff;
    margin: auto;
    .recipe-control-buttons {
      width: 50%;
      margin: auto;
    }
    .details-container {
      .details-img{
        margin: auto;
        .img-big{
        max-width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        object-fit: contain;
        }
      }
        img {
          margin: auto;
          max-width: 300px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          object-fit: contain;
        }
    }
    .card {
      max-width: 300px;
      width: 100%;

      .card-img {
        height: 150px;
      }
    }
    .wrapper-small {

      background-color:rgba(255,255,255,0);

      .card {
        max-width: 300px;
        width: 100%;

        .card-img {
          height: 150px;
        }
      }
    }

    .text-row {

      label {
        width: 15%;
        text-align: center;
      }
    }
  }

  .xs-only {
    display: none;
  }
}