/* Colors for this app
  NAVBAR COLORS
  blue navbar - #4a69bd
  a text color - whitesmoke
  a text hover - #f5cd79
  
  
  CARD COLORS
  border: #3dc1d3

  button-delete: #c44569

  Find a font-familyasdasd
*/
*, *:before, *:after {
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding-top: 50px; }
  body .header {
    font-size: 2em;
    color: #0c2461;
    padding: 0px 0px 6px 30px;
    margin: 15px 0px 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 90%;
    position: relative; }
  body footer {
    background-color: #4a69bd;
    width: 100%;
    border-radius: 0;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    body footer ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: center;
      height: 100%; }
      body footer ul a {
        color: whitesmoke; }
  body .logo {
    background-color: #b71540;
    width: 50px;
    height: 50px;
    border-radius: 10px; }

.flex-spacer {
  flex: 1; }

.navbar {
  background-color: #4a69bd;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  z-index: 1;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px; }
  .navbar a {
    color: #fff;
    font-size: 20px; }
  .navbar form {
    padding: 0;
    margin: 0;
    max-width: 180px;
    width: 100%;
    outline: 0; }
  .navbar .dropdown {
    display: flex;
    flex-direction: column; }
    .navbar .dropdown .dropdown__button {
      background: url("/images/icon-menu.svg");
      background-size: cover;
      width: 32px;
      height: 32px;
      border: none;
      outline: none; }

@keyframes menu-transition {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .navbar .dropdown .dropdown__content {
      display: none;
      top: 50px;
      right: 0px;
      position: absolute;
      height: fit-content;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      background-color: #f9f6f6;
      animation-name: menu-transition;
      animation-duration: 0.3s; }
      .navbar .dropdown .dropdown__content ul {
        list-style: none;
        align-items: center;
        outline: none;
        padding: 0 10px; }
        .navbar .dropdown .dropdown__content ul li {
          padding: 10px 15px; }
          .navbar .dropdown .dropdown__content ul li a {
            font-size: 14px;
            color: #535353;
            font-weight: bolder;
            padding: 10px 15px; }
            .navbar .dropdown .dropdown__content ul li a:active {
              border: 1px solid #60a3bc; }
          .navbar .dropdown .dropdown__content ul li button, .navbar .dropdown .dropdown__content ul li input[type="submit"], .navbar .dropdown .dropdown__content ul li input[type="reset"] {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            font-size: 14px;
            color: #535353;
            font-weight: bolder;
            padding-left: 15px; }

a {
  text-decoration: none;
  outline: none; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }
  .wrapper .details-container .details-info {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .wrapper .details-container .details-info .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 95%; }
    .wrapper .details-container .details-info img {
      width: 100vw;
      height: 250px;
      object-fit: cover; }
    .wrapper .details-container .details-info button {
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      outline: none;
      border: none; }
  .wrapper .details-container .nutrition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrapper .details-container .nutrition div {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding-bottom: 5px;
      border-bottom: 2px solid #cdcdcd; }
      .wrapper .details-container .nutrition div label {
        font-weight: bolder;
        font-size: larger;
        color: #535353;
        margin: 5px; }
      .wrapper .details-container .nutrition div span {
        color: #535353;
        font-weight: normal; }
    .wrapper .details-container .nutrition ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      border-bottom: 2px solid #cdcdcd;
      width: 90%;
      padding: 10px 0px; }
      .wrapper .details-container .nutrition ul li {
        margin: 5px 10px;
        padding-left: 5px;
        border-left: 2px solid #cdcdcd; }
        .wrapper .details-container .nutrition ul li label {
          color: #535353;
          font-weight: normal; }
        .wrapper .details-container .nutrition ul li span {
          font-weight: bolder;
          font-size: smaller; }
  .wrapper .details-container .details-ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrapper .details-container .details-ingredients label {
      color: #535353;
      font-weight: bolder; }
    .wrapper .details-container .details-ingredients ul {
      display: flex;
      flex-direction: column;
      list-style: square;
      border-bottom: 2px solid #cdcdcd;
      width: 90%;
      padding: 10px 0px;
      justify-content: center; }
      .wrapper .details-container .details-ingredients ul li {
        margin: 5px 10px;
        padding-left: 5px;
        color: #535353; }
        .wrapper .details-container .details-ingredients ul li a {
          text-decoration: none;
          color: #535353; }
        .wrapper .details-container .details-ingredients ul li label {
          color: #535353;
          font-weight: bolder; }
    .wrapper .details-container .details-ingredients div {
      display: flex;
      width: 90%;
      justify-content: flex-start;
      margin: 10px 0;
      align-items: left; }
      .wrapper .details-container .details-ingredients div label {
        color: #535353;
        font-weight: bolder; }
        .wrapper .details-container .details-ingredients div label span {
          font-weight: lighter; }
  .wrapper .profile {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 10px 0; }
    .wrapper .profile img {
      margin: 15px 0;
      align-self: center;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 2px 2px rgba(0, 0, 0, 0.15); }
    .wrapper .profile label {
      font-size: 18px;
      color: #535353; }
      .wrapper .profile label span {
        font-size: 18px;
        font-weight: bolder; }
    .wrapper .profile ul {
      list-style: none;
      align-items: center;
      outline: none;
      padding: 0 10px; }
      .wrapper .profile ul li {
        border: 1px solid #cdcdcd;
        margin: 5px 0px;
        padding: 10px 15px; }
        .wrapper .profile ul li:active {
          border: 1px solid #60a3bc; }
        .wrapper .profile ul li a {
          font-size: 14px;
          color: #535353;
          font-weight: bolder; }
        .wrapper .profile ul li button, .wrapper .profile ul li input[type="submit"], .wrapper .profile ul li input[type="reset"] {
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
          font-size: 14px;
          color: #535353;
          font-weight: bolder; }
  .wrapper .text-row {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
    color: #535353;
    font-weight: bolder;
    font-size: larger; }
    .wrapper .text-row label {
      width: 50%;
      text-align: center; }
      .wrapper .text-row label:active {
        border: 1px solid #60a3bc;
        border-radius: 10px; }
  .wrapper .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 5px 10px 5px; }
    .wrapper .container div {
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      box-shadow: none;
      outline: none; }
      .wrapper .container div:hover {
        cursor: pointer;
        filter: brightness(50%); }
        .wrapper .container div:hover p {
          display: block; }
      .wrapper .container div:active {
        border: 2px solid #60a3bc;
        border-radius: 30%;
        outline: none; }
  .wrapper .wrapper-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    height: fit-content; }
    .wrapper .wrapper-small .card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      border: 1px solid #d3d3d3;
      background-color: #fff;
      margin: 10px 5px;
      max-width: 150px;
      width: 100%;
      animation: fade-in 0.65s ease-in-out forwards;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
      overflow: hidden; }
      .wrapper .wrapper-small .card .card-img {
        width: 100%;
        height: 70px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .wrapper .wrapper-small .card .card-info h3 {
        text-align: center;
        font-size: 12px;
        color: #323232;
        padding-left: 5px; }
  .wrapper .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    margin: 5px;
    max-width: 75vw;
    width: 100%;
    animation: fade-in 0.65s ease-in-out forwards;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .wrapper .card .card-img {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    .wrapper .card .card-info h3 {
      font-size: 16px;
      color: #323232; }

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #079992;
  padding: 10px 15px;
  font-size: 12px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s; }

.button-in-form {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #079992;
  padding: 10px 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: fit-content;
  font-size: 14px; }

.button:hover {
  background: #434343;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer; }

.delete {
  background-color: #c44569; }

.edit {
  background-color: #574b90; }

.create {
  background-color: #3c6382; }

button:disabled {
  background-color: #cdcdcd;
  opacity: 0.5; }

#no-favorite {
  color: #4a69bd; }

.details-rate-this-recipe {
  display: flex;
  flex-direction: column; }

.stars-container {
  border: none;
  margin: 10px; }

.stars-outer {
  position: relative;
  display: inline-block; }

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%; }

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #ccc; }

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #f8ce0b; }

.star-rating {
  font-family: 'Font Awesome 5 Free'; }
  .star-rating > form {
    border: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly; }
    .star-rating > form:not(:checked) > input {
      position: absolute;
      clip: rect(0, 0, 0, 0); }
    .star-rating > form:not(:checked) > label {
      width: 100%;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 200%;
      color: #f8ce0b; }
      .star-rating > form:not(:checked) > label:before {
        content: '\f005';
        color: #ccc; }
      .star-rating > form:not(:checked) > label:hover,
      .star-rating > form:not(:checked) > label:hover ~ label {
        color: #f8ce0b;
        text-shadow: 0 0 3px #f8ce0b; }
        .star-rating > form:not(:checked) > label:hover:before,
        .star-rating > form:not(:checked) > label:hover ~ label:before {
          content: '\f005';
          color: #f8ce0b; }
    .star-rating > form > input:checked ~ label:before {
      content: '\f005  ';
      color: #f8ce0b; }
    .star-rating > form > label:active {
      position: relative; }

.auth-form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .auth-form__heading {
    margin-bottom: 20px; }
  .auth-form .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; }
    .auth-form .input-container label {
      font-size: 14px;
      color: #585858;
      margin-bottom: 10px; }
    .auth-form .input-container input {
      padding: 10px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none; }
      .auth-form .input-container input:focus {
        border: 1px solid #4a69bd; }
  .auth-form .actions {
    display: flex;
    width: 100%; }
    .auth-form .actions button {
      border: none;
      background-color: #4a69bd;
      color: #fff;
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 4px;
      outline: none; }
      .auth-form .actions button:hover {
        cursor: pointer; }
    .auth-form .actions a {
      font-size: 14px;
      padding: 10px 0px 10px 20px;
      border-radius: 4px;
      background: transparent;
      color: #000;
      text-decoration: none; }
    .auth-form .actions .spacer {
      flex: 1; }

@keyframes slide-up {
  0% {
    transform: translateY(calc(100% + 10px));
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.wrapper h3 {
  padding-left: 20px;
  color: #0c2461; }

.wrapper .create-recipe__button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #38ada9;
  color: #fff;
  border-radius: 50%;
  right: 10px;
  bottom: 60px;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  animation: slide-up 0.65s ease-in-out forwards;
  opacity: 1;
  z-index: 1;
  outline: none; }
  .wrapper .create-recipe__button img {
    margin-top: 5px;
    margin-right: 2px;
    width: 30px; }

.wrapper .recipe-control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0px; }
  .wrapper .recipe-control-buttons a {
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 14px; }
  .wrapper .recipe-control-buttons .edit__button {
    background-color: #786fa6;
    padding: 10px 20px; }
  .wrapper .recipe-control-buttons .delete__button {
    background-color: #c44569;
    padding: 10px 20px; }

.form-error {
  color: #b71540;
  font-size: smaller; }

.create-form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .create-form__heading {
    margin-bottom: 20px; }
  .create-form .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; }
    .create-form .input-container textarea {
      width: 100%;
      max-width: 350px;
      height: 120px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
      font-size: 14px;
      color: #585858;
      padding: 10px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none; }
    .create-form .input-container label {
      font-size: 14px;
      color: #585858;
      margin-bottom: 10px; }
    .create-form .input-container input {
      padding: 10px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none;
      color: #585858; }
      .create-form .input-container input:focus {
        border: 1px solid #4a69bd; }
    .create-form .input-container select {
      padding: 10px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none;
      max-width: 150px;
      width: 100%;
      color: #585858; }
  .create-form button {
    border: none; }
    .create-form button:hover {
      cursor: pointer; }
    .create-form button:active {
      border: 1px solid #60a3bc; }
  .create-form .add-product__button {
    background: url("/images/plus-icon.png");
    background-size: cover;
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50%;
    font-size: larger;
    background-color: #38ada9;
    margin-left: 75%;
    margin-bottom: 15px;
    outline: none; }
  .create-form .delete-product__button, .create-form .delete-step__button {
    background: url("/images/delete-icon.svg");
    background-size: cover;
    width: 24px;
    height: 24px;
    padding-right: 10px;
    outline: none; }
    .create-form .delete-product__button:active, .create-form .delete-step__button:active {
      border: 1px solid #60a3bc; }
  .create-form a {
    font-size: 14px;
    padding: 10px 0px 10px 20px;
    border-radius: 4px;
    background: transparent;
    color: #000;
    text-decoration: none; }
  .create-form .spacer {
    flex: 1; }

.time-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-items: center; }
  .time-container label, .time-container span {
    font-size: 14px;
    color: #585858;
    margin-bottom: 3px;
    margin-right: 10px; }
  .time-container input {
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
    transition: border .35s ease-in-out 0s;
    outline: none;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px; }
    .time-container input:focus {
      border: 1px solid #4a69bd; }

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; }
  .input-container label {
    font-size: 14px;
    color: #585858;
    margin-bottom: 10px; }
  .input-container input {
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
    transition: border .35s ease-in-out 0s;
    outline: none; }
    .input-container input:focus {
      border: 1px solid #4a69bd; }

.list-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  color: #585858; }
  .list-container div {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    font-weight: bolder;
    margin-top: 10px; }
  .list-container ul {
    padding: 0; }
    .list-container ul li {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .list-container ul li span {
        width: 40%;
        text-align: left;
        padding-left: 50px; }

.add-product-container {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  width: 100%; }
  .add-product-container .input-container {
    max-width: 140px;
    width: 100%;
    padding: 0;
    margin: 0px 0px 15px 20px; }
  .add-product-container .quant-grams {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 10px;
    width: 100%;
    margin: 0px 0px 15px 20px; }
    .add-product-container .quant-grams label {
      font-size: 14px;
      color: #585858;
      margin: 6px 10px 0px 10px; }
    .add-product-container .quant-grams input {
      padding: 10px 0px 10px 10px;
      margin-right: 5px;
      background: #fff;
      border: 1px solid #cdcdcd;
      transition: border .35s ease-in-out 0s;
      outline: none;
      width: 75px;
      color: #585858; }

.search-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 300px;
  width: 100%;
  margin-top: 100px;
  align-items: center; }
  .search-form div {
    background: none;
    max-width: 90%;
    padding: 0;
    margin: 0 5px;
    align-items: center; }
  .search-form label {
    font-size: 14px;
    color: #585858;
    margin: 6px 10px 0px 10px; }
  .search-form button {
    background: url("https://image.flaticon.com/icons/svg/648/648407.svg");
    border: none;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 26px;
    height: 26px;
    outline: none;
    padding: 3px; }
    .search-form button:hover {
      cursor: pointer; }
    .search-form button:active {
      border: 1px solid #60a3bc;
      border-radius: 25%;
      outline: none; }
  .search-form input {
    width: 100%; }

/* SMALL SCREEN */
/* MEDIUM SCREEN */
@media screen and (min-width: 960px) {
  .wrapper .wrapper-small .card {
    max-width: 300px;
    width: 100%; }
    .wrapper .wrapper-small .card .card-img {
      height: 150px; }
  .navbar a {
    flex-grow: 3; }
  .navbar .search-form {
    max-width: fit-content;
    width: 100%; }
  .navbar .dropdown {
    display: inline-block; }
    .navbar .dropdown .dropdown__content {
      display: flex;
      background-color: #4a69bd;
      animation: none;
      box-shadow: none;
      position: relative;
      top: 0px;
      color: #fff; }
      .navbar .dropdown .dropdown__content ul {
        display: flex;
        flex-direction: row;
        padding: 0; }
        .navbar .dropdown .dropdown__content ul li {
          padding: 0px 15px; }
          .navbar .dropdown .dropdown__content ul li a {
            font-weight: normal;
            color: #fff;
            padding: 0px 15px; }
            .navbar .dropdown .dropdown__content ul li a:hover {
              color: #f5cd79; }
          .navbar .dropdown .dropdown__content ul li button {
            color: #fff; }
            .navbar .dropdown .dropdown__content ul li button:hover {
              color: #b71540; }
  .wrapper .text-row label {
    width: 15%;
    text-align: center; } }

/* LARGE SCREEN */
@media screen and (min-width: 1200px) {
  a:hover {
    color: #f5cd79; } }

/*# sourceMappingURL=style.css.map */