/* Colors for this app
  Fill here

  Find a font-family
*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  padding: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 10px;
}

#recipes {
  flex-grow: 5;
}

a {
  text-decoration: none;
  color: black;
}

// IMPORTANT : Start to implement responsive CSS styles
                                        /* EXTRA-SMALL SCREEN */
@media screen and (max-width: 767px) {
  // Fill
}

                                        /* SMALL SCREEN */
@media screen and (min-width: 768px) {
  // Fill
}

                                        /* MEDIUM SCREEN */
@media screen and (min-width: 960px) {    
  // Fill
}

                                        /* LARGE SCREEN */
@media screen and (min-width: 1200px) {
  // Fill
}