<h2>My Favorite Recipes</h2>
{{#if user}}
  {{#if favoriteRecipes}}
    <div id="my-recipes" class="wrapper">
      {{#each favoriteRecipes}}
      {{this.name}}
        {{> cards parameter1="recipes" parameter2=_id parameter3=image parameter4=name }}
      {{/each}}
    </div> 
  {{/if}}
{{/if}}