<h2>My Favorite Recipes</h2>
{{#if user}}
  {{#if favoriteRecipes}}
    <div id="my-recipes" class="wrapper">
      {{#each favoriteRecipes}}
        {{> cards parameter1="recipes" parameter2=_id parameter3=image parameter4=name }}
      {{/each}}
    </div> 
  {{else}}
  <p>You don't have any favorite recipe for the moment! Check <a id="no-favorite" href="/recipes">recipes</a> and see if you find ones that you like!</p>
  {{/if}}
{{/if}}