<h2>Profile</h2>
{{#if user}}
  <p> Welcome {{user.username}}</p>
  <p><a href="/recipes/create">Create a new recipe</a></p>
  {{#if user.isSuperuser}}
    <p><a href="/products/feedDb">Feed products DB</a></p>
  {{/if}}
  {{#if myRecipes}}
    <h3><a href="/profile/my-recipes">My recipes</a></h3>
  {{/if}}
  <h3><a href="/profile/favorite-recipes">My favorite recipes</a></h3>
{{else}}
  <p>You need to <a href="/login">login</a> to see your profile page. </p>
{{/if}}