<h2>Profile</h2>
{{#if user}}
  <p> Welcome {{user.username}}</p>
  <a href="/products/feedDb">Feed products DB</a>
{{else}}
  <p>You need to <a href="/login">login</a> to see your profile page. </p>

{{/if}}