<h2>Create a recipe</h2>

<form id="create-recipe-form" action="/recipes/create" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" placeholder="Ex: Pasta Bolognese"><br>

  <label for="img">Image:</label>
  <input type="text" id="img" name="image" placeholder="Image URL"><br>

  <label for="time">Cooking time</label>
  <input type="number" id="time" name="time" placeholder="in minutes"><br>

  <label style="padding-right:20px;">Ingredients</label><span>Quantity</span><br>
  <ul id="ingredients-list">
  </ul>

  <select id="products" name="products">
    {{#each products}}
      <option value="{{_id}}">{{this.name}}</option><br>
    {{/each}}
  </select><br>

  <label for="quantity" style="padding-right:20px;">Quantity</label><br>
  <input type="number" id="quantity" name="quantity" placeholder="in grams"><br>
  <button id="new-ingredient">Add</button>
  <br><br>
  
  <label for="steps">Steps:</label>
  <textarea id="steps" name="steps" rows="10" cols="30">
    Write here the different steps for this recipe
  </textarea><br><br>

  <button type="submit">Create recipe</button><br>
  {{#if errorMessage}}
      <div>
          <p>{{errorMessage}}</p>
      </div>   
    {{/if}}
</form>