<h2>Create a recipe</h2>

<form action="/recipes/create-recipe" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" placeholder="Ex: Pasta Bolognese">

  <label for="descr">Description:</label>
  <input type="text" id="descr" name="description" placeholder="Something about this product">

  <label for="img">Image:</label>
  <input type="text" id="img" name="image" placeholder="Image URL">

  <button type="submit">Create product</button>
  {{#if errorMessage}}
      <div>
          <p>{{errorMessage}}</p>
      </div>   
    {{/if}}
</form>