<h2>Recipes</h2>
<div class="wrapper">
  {{#each recipes}}
    {{> cards}}
    {{!-- <div class="card" onclick="location='/recipes/details/{{_id}}'">
      <div class="card-img" style="background-image: url({{image}})">
      </div>
      <div class="card-info">
        <h3>
          {{name}}
        </h3>
      </div>
    </div> --}}
  {{/each}}
  {{#if user}}
    <a href=""></a>
    <a
      href="/recipes/create"
      class="create-recipe__button"
    > 
      <div>
        <img src="/images/add-icon.svg">
      </div>
    </a>
  {{/if}}
</div>

