<h2>Recipes</h2>
{{#if user}}
  <a href=""></a>
  <p><a href="/recipes/create">Create a new recipe</a></p>
{{/if}}

{{#each recipes}}
  <a href="/recipes/details/{{name}}">
    <img src="{{image}}" width="200px" height="auto" alt="Recipe picture">
  </a>
  <h3>
    <a id="recipe-detail-link" href="/recipes/details/{{name}}">{{name}}</a>
  </h3>
{{/each}}

