<h2>Products</h2>
<div class="wrapper">
  {{#each products}}
    {{> cards}}
    {{!-- <div class="card product">
      <div class="card-img">
        <a href="/products/details/{{name}}">
          <img src="{{image}}" width="200px" height="auto" alt="Product picture">
        </a>
      </div>
      <div class="card-info">
        <h3>
          <a id="product-detail-link" href="/products/details/{{name}}">{{name}}</a>
        </h3>
      </div>
    </div> --}}
  {{/each}}
  {{#if user.isSuperuser}}
    <a href=""></a>
    <a
      href="/products/feedDb"
      class="create-recipe__button"
    > 
      <div>
        <img src="/images/add-icon.svg">
      </div>
    </a>
  {{/if}}
</div>
  



